node_modules
.npm-cache

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Generated data (comment this line if you want to commit the data for Vercel)
# src/lib/data/connectors.json
/.idea/
/.svelte-kit/

# Tauri
src-tauri/target/
src-tauri/gen/schemas/
/agents/logs/run-1771953277517.json
/agents/logs/run-1771956653452.json
/agents/logs/run-1771965804293.json
/agents/logs/run-1771966537881.json
/agents/logs/run-1771967188362.json
/agents/logs/run-1771967752093.json
/agents/logs/run-1771968171719.json
/agents/logs/run-1771975601574.json
